@import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');

:root {
    font-family: 'Kurale', serif;
    --main-color: red;
    --accent-color: blue;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

header nav .logo {
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
}


.logo {
    color: var(--main-color);
    font-size: 48px;
}

img {
    max-width: 400px;
}

article.product p {
    font-family:  'Kurale', serif;
}

p:hover {
    text-decoration: underline;
}

p::first-letter {
    font-size: 24px;
    color: var(--accent-color);
}

 
header .menu a {
    display:block;
    text-decoration:none;
    text-transform: uppercase;
    color: var(--main-color);
}

header .menu a:hover {
    font-weight: bold;
}

@media (min-width: 480px) {
    header nav  {
        display: flex;
    }
header .menu  {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    }
    header nav {
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

main .banner  {
    background-image: url(../img/granat.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
}
main .banner p {
    color: var(--main-color);
    text-transform: uppercase;
}

.products-list .product {
    border: 1px solid var(--main-color);
}

.products-list .product img {
    display: block;
    width: 100%;
}

.products-list .product .buttons {
    display: flex;
    justify-content: space-around;
}

@media (min-width: 440px) {
    .products-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
}
@media (min-width: 660px) {
    .products-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 980px) {
    .products-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.contact-form label {
    min-width: 100px;
    display: inline-block;
}